@font-face {
  font-family: "Montserrat";
  src: url('https://fonts.googleapis.com/css?family=Montserrat');
}
body {
  font-family:'Montserrat';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000;
  margin: 0;
  padding: 0;
  /* overflow-y: hidden; */
  /* overflow: hidden; */
  cursor: none;
}
/* html, */
body {
    height: 100vh; /* Use vh as a fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
    overflow: hidden;
}
body {
    position: relative;
    left: 0;
    right: 0;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}