    #cursor{
        position: absolute;
        width: 30px;
        height: 30px;
        border: 2px solid #fff;
        box-sizing: border-box;
        transition: all 0.4s , width 0.2s, height 0.2s;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        pointer-events: none;
        z-index: 10000;
    }
    #minicursor{
        position: absolute;
        width: 4px;
        height: 4px;
        background-color: #fff;
        box-sizing: border-box;
        transition: all 0.1s;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        pointer-events: none;
        z-index: 10000;
    }
    .cursor_hidden{
        opacity: 0;
    }
    .cursor_active{
        opacity: 1;
    }
    .cursor_down{
        width: 25px !important;
        height: 25px !important;
    }